/* Breakpoints based on defined $breakpoint-map */
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoint-map, $breakpoint) {
        @media #{inspect(map-get($breakpoint-map, $breakpoint))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, you have not set `#{$breakpoint}` as a valid breakpoint. "
            + "Make sure `#{$breakpoint}` is defined in `$breakpoints-map` in the `_settings.scss` file.";
    }
}