.container *,
.container-fullwidth *{
    box-sizing: border-box;
    width: 100%;
}
.container *{
    margin-left: auto;
    margin-right: auto;
    max-width: $container;
}

.row:before, 
.row:after {
    clear: both;
    content: "";
    display: table;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding-left: $gutter;
    padding-right: $gutter;
    position: relative;
}